   <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Update Zim Rate</h4>
                  
                </div>
                <div class="card-body">
                  <form action="/data" method="post" >
    
                 

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Zim Tday Exchange Rate</label>
                          <input type="number" name="sell" class="form-control">
                        </div>
                      </div>
                    </div>
          
               
                    <button type="submit" class="btn btn-primary pull-right">Update</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
     
          </div>
        </div>
      </div>